body {
  word-wrap: break-word;
}

nav > ul {
  padding-left: 0 !important;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

nav li {
  list-style: none !important;
}
